.tank {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  transform: translateX(-50%);
  border-radius: 4px;
  transition: all 0.2s linear;
}
.fire {
  position: absolute;
  background-image: url("../../images/fire1.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.tank__gun {
  position: absolute;
  content: "";
  width: 4px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.tank__track--left {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 70%;
  top: 6px;
  width: 4px;
  left: -5px;
  border-radius: 2px;
}
.tank__track--right {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 70%;
  top: 6px;
  width: 4px;
  right: -5px;
  border-radius: 2px;
}
.tank__bullet {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
  top: 0;
  left: 0;
  opacity: 0;
}
.tank__bullet.animate {
  animation: shoot linear forwards;
}
@keyframes shoot {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 1;
  }
}
